

.App {
  /* display: flex; */
  justify-content: center;
  align-items: center;
  text-align: center;
  background-color: #1B1B1D;
}

.App * {
  box-sizing: border-box;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}


.App-header {
  background-color: #4e6ba5;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.event-list-container {
  width: 100%;
  max-width: 900px;
  min-height: 200px;
  margin: 0 auto;
  padding: 10px;
}

.eventListItem {
  width: 100%;
  max-width: 900px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  justify-items: center;
  border: #282c34 solid 1px;
  border-radius: 20px;
  padding: 5px;
  margin: 5px;
  background-color: #A6CAEC;
}

.event-details {
  display: flex;
  flex-direction: column;
  text-align: left;
  align-items: center;
  justify-content: center;
  justify-items: center;
  padding: 5px;
  margin: 5px;
  background-color: #c6dff7;
  border: #282c34 solid 1px;
  border-radius: 20px;
}

.citiesListItem {
  list-style-type: none;
  display: block;
  cursor: pointer;
}

.eventList {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  justify-items: center;
  padding: 5px;
}

#indexNumber {
  font-size: 10px;
  margin: 0;
  padding: 0;
}

.details-btn {
  width: 125px;
  margin: 5px auto;
}

.buttonClear {
  border: none;
  border-radius: 5px;
  padding-right: 15px;
  cursor: pointer;
}

.buttonReset {
  border: none;
  border-radius: 5px;
  padding-left: 5px;
  cursor: pointer;
}

.toggleBtn {
  width: 250px;
  margin: 10px auto;
  background-color: #fdb38b;
  color: black;
  font-weight: bold;
  border: none;
  cursor: pointer;
}

button {
  cursor: pointer;
}

.city {
  padding: 5px;
}

.labelNOE {
  padding-right: 5px;
  color: white;
}

.labelCity, .noEventsText {
  color: white;
}

.bordered-tooltip .tooltip-inner {
  border: 2px solid cornflowerblue;
}
.bordered-tooltip .tooltip-arrow::before {
  border-top-color: cornflowerblue;
}

.custom-border-radius,
.custom-border-radius:first-child,
.custom-border-radius:last-child {
  border-radius: 20px;
}

/* .alerts-container {
  position: fixed;
  top: 250px;
  left: 250px;
  width: 250px;
  z-index: 1000;
} */