.App {
  /* display: flex; */
  justify-content: center;
  align-items: center;
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}


#HeaderLogoImage {
  height: auto;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.eventListItem {
  width: 900px;
  display: flex;
  flex-direction: column;
  text-align: Left;
  align-items: center;
  justify-content: center;
  justify-items: center;
  border: #282c34 solid 1px;
  border-radius: 20px;
  padding: 10px;
  margin: 10px;
  background-color: #A6CAEC;
}

.citiesListItem {
  list-style-type: none;
  display: block;
}

.eventList {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  justify-items: center;
  padding: 15px;
}
/* #city-search { display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  justify-items: center;
  width: 50%;
  padding: 0px 20px;
  margin: 10px 0;
  box-sizing: border-box;
} */
/* #city-search label {
  justify-self: center;
  width: auto;
  padding: 10px;
} */